{include file="admin/topo.html"}
    <!-- Conteúdo -->
    <div class="container">
        {if $dados}
            <div class="bloco-paginacao">
                {section start=1 name=j loop=$Numpaginas}
                    <a class="{if $Numpaginas[j] == $smarty.get.p} link-pag-ativo {/if}" href="adm_tarefa.php?acao=pesquisar&p={$Numpaginas[j]}">{$Numpaginas[j]}</a>
                {/section}
            </div> 
            <br>
            <table class="table">
                <h1 class="titulo-pag">Visualizar Tarefas</h1>
                <thead>
                    <tr class="cor-tr-btn">
                        <th>Tarefa/Lembrete</th>
                        <th>Titulo</th>
                        <th>Status</th>
                        <th class="hidden-xs-down">Data Fim</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {section name=i loop=$dados}
                        <tr class="hover-tr">
                            <td>{$dados[i].tarefa_lembrete}</td>
                            <td>{$dados[i].titulo}</td>
                            <td>{$dados[i].statusFormat}</td>
                            <td class="hidden-xs-down">{$dados[i].data_fim_formatada}</td>
                            <td>
                                <a class="ativa-select-acoes cor-tr-btn btn-acoes" href="#">Ações</a> 
                                <div class="select-acoes mg-lf-90">
                                    {if $menuPesUsuario}
                                        <a class="cor-tr-btn btn-acoes" href="?acao=visualizar&id={$dados[i].id}">visualizar</a> 
                                    {/if}
                                    {if $menuEdiUsuario}
                                        <a class="cor-tr-btn btn-acoes" href="?acao=editar&id={$dados[i].id}">editar</a> 
                                    {/if}
                                    {if $menuExcUsuario}
                                        <a class="cor-tr-btn btn-acoes" href="#" onclick="exclui({$dados[i].id}, 'tarefa')">excluir</a>
                                    {/if}
                                    <a class="cor-tr-btn btn-acoes" href="adm_tarefa.php?acao=painel">Painel</a>
                                </div>
                            </td>
                        </tr>
                    {/section}
                </tbody>
            </table>

            <div class="bloco-paginacao">
                {section start=1 name=j loop=$Numpaginas}
                    <a class="{if $Numpaginas[j] == $smarty.get.p} link-pag-ativo {/if}" href="adm_tarefa.php?acao=pesquisar&p={$Numpaginas[j]}">{$Numpaginas[j]}</a>
                {/section}
            </div> 
        {else}
            <p class="sem-resultado">Não existe resultados</p>
        {/if}       
    </div>
    <!-- FIM Conteúdo -->
{include file="admin/rodape.html"}