/*
* Cores Layout
*
* Topo Menu - Class
* 	.bg-faded
*
* Bg Menu Mobile - Class
* 	.navbar-nav
*
* Bg Drop menu mobile - Class
* 	.dropdown-menu
*
* Linhas da tabela Cor sim/Cor não
* 	tr:nth-child(odd)
*	tr:nth-child(even)
* 
* Botão Default - Class
* 	.btn-form
* 
* Default tag P para texto - Class
* 	.default-txt
*
* Cor linha da tr e do botão - Class
* 	.cor-tr-btn
*
* Cor Bloco de Tarefa/Anotação - Class
*	.bloco-tarefa
*
*
*/

*{
    font-family: 'Arial';
}

a{
	text-decoration: none !important;
	color: #000;
}

a:hover{
	color: initial !important;
}

body{
	background-color: #fff;
	max-width: 1400px !important;
	margin: auto;
}

@media all and  (min-width: 299px){
	/* Login */
	.logo{
		max-width: 250px;
		height: auto;
		display: table;
		position: relative;
		margin: auto;
		padding-bottom: 30px;
	}

	.logo img{
		max-width: 250px;
		height: auto;
		background-size: cover;
	}

	.form-login{
		width: 100%;
		height: auto;
		display: table;
		position: relative;
		margin: auto;
		margin-top: 5%;
	}

	.form-login label{
		font-size: 14px;
		color: #000;
		text-align: left;
	}

	input[type="text"]{
	    width: 100%;
	    padding: 10px 10px;
	    border: solid 1px #999;
	    color: #333;
	    /*display: block;*/
	}

	.nome_tipo{
		display: none;
	}

	input[type="password"]{
	    width: 100%;
	    padding: 10px 10px;
	    border: solid 1px #999;
	    color: #333;
	    display: block;
	}

	textarea{
		width: 100%;
		min-height: 150px;
	    padding: 10px 10px;
	    border: solid 1px #999;
	    color: #333;
	    display: block;
	}

	.form-ver input:hover{
		background: #ccc;
	}

	.form-ver input{
		background-color: #ebebe4;
	}

	.btn-form{
		background-color: #8b0304 !important;
		color: #fff;
		font-size: 14px;
		border: none;
		padding: 7px 10px;
		display: block;
		float: right;
	}
	/* Fim Login */

	/*  topo */
	.encapsula-topo-logo{
		display: table;
	    width: 100%;
	    height: auto;
	}

	.topo-logo{
		height: auto;
		display: table;
		clear: both;
		position: relative;
		z-index: 9999;
	}

	.navbar-brand{
		height: auto !important;
	}

	.hello-user{
		color: #df9300;
		font-size: 14px;
		float: right;
		font-weight: bold;
		padding-top: 20px;
	}

	.navbar-toggler{
		float: right;
		margin-top: 10px;
		position: relative;
	    z-index: 999999;
	}

	.navbar-fixed-top{
		position: relative !important;
	}

	.dropdown-menu{
		border: transparent !important;
		background-color: #df9300;
	}

	.starter-template{
		padding: 2rem 1.5rem;
	}

	.nav-link{
		color: #fff !important;
	}

	.dropdown-item:hover{
		background: transparent !important;
	}

	.dropdown-item{
		color: #fff;
	}
	/*  topo */

	/* Tabela */
	td, th{
		text-align: center;
	}

	.hover-tr:hover{
		background-color: #df9300 !important;
	}
	
	tr:nth-child(even) {
		background: #fff;
	}

	tr:nth-child(odd) {
		background: #ffe6b6;
	}
	
	.cor-tr-btn{
		background: #515151 !important;
	}

	.btn-acoes{
		padding: 5px 7px;
		color: #fff;
	}

	.btn-acoes:hover{
		color: #fff !important;
	}

	th{
		color: #fff;
	}

	.table {
	    margin-top: 2.5em;
	}

	.table td:last-child{
		white-space: nowrap;
	}

	.table th:last-child{
		width: 1%;
	}
	/* Fim Tabela */

	/* Formulário */
	form{
		width: 80%;
		height: auto;
		display: table;
		position: relative;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}	

	label{
		color: #000;
		font-size: 14px;
		display: block;
		padding: 7px 0px 0px 0px;
		margin: 0px;
		text-align: left;
	}

	form select{
		width: 100%;
	    padding: 10px 10px;
	    border: solid 1px #999;
	    color: #333;
	    display: block;
	}

	.form-busca{
		width: 200px;
		height: 30px;
		float: left;
	}

	.envia-busca{
		height: 34px;
	}

	.campo-link-input{
		width: 100%;
		padding: 10px 10px;
		border: solid 1px #999;
		color: #333;
		display: block;
		background-color: #ebebe4;
	}

	.top-btn{
		margin-top: 20px;
	}
	/* Fim Formulário */
	
	/* Pagina Vizualizar */
	.default-txt{
		color: #000;
		font-size: 14px;
		display: block;
		padding: 0px 0px 0px 0px;
		margin: 0px;
		text-align: left;
	}

	.bloco-vizualizar{
		max-width: 50%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* Fim Pagina Vizualizar */

	.bloco-paginacao{
		display: block;
		float: right;
		position: relative;
		margin-right: 20px;
		margin-top: 20px;
	}

	.link-pag-ativo{
		color: #df9300;
	}

	.sem-resultado{
		font-size: 16px;
		text-align: center;
		padding-top: 20px;
	}


	/*
	* Default Painel Tarefas Lembrete
	*/
	.bloco-tar-lem-default{
		margin: 2%;
		border: solid 1px #000;
	}

	.bloco-tarefa{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.bloco-tarefa:nth-child(odd){
		background: #df9300;
	}

	.bloco-tarefa:nth-child(even){
		background: #ffe6b6;

	}

	.txt-default-tar-lem{
		font-size: 16px;
		color: #000;
		padding: 0px;
		margin: 0px;
		line-height: 1.4;
	}

	.bloco-encapsula-tam-lem{
		width: 48%;
		float: left;
	}

	.bloco-encapsula-tam-lem .col-sm-12{
		max-width: 95%;
	}

	.bloco-encapsula-tam-lem:nth-child(odd){
		margin-left: 3%;
	}

	.cor-bloco-tar-lem{
		border: solid 1px #999;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/*
	* Fim Default Painel Tarefas Lembrete
	*/
	

	/*
	* Default Filtro
	*/
	.form-bloco-filtro{
		width: 100%;
	}

	.form-bloco-filtro select{
		width: 150px;
		float: left;
		margin: 5px;
	}

	.form-bloco-filtro input{
		float: left;
		margin: 5px;
	}

	.form-bloco-filtro label{
		float: left;
		margin-top: 5px;
	}
	/*
	* Fim Default Filtro
	*/

	.select-acoes{
		display: none;
	/*	opacity: 0;*/
		position: absolute;
		z-index: 9;
		background: #515151;
		margin-top: -26px;
		/*margin-left: -86px;*/
		/*margin-left: -36px;*/
		/*right: 160px;*/
		margin-left: -150px;
	}

	.mg-lf-90{
		margin-left: -90px;
	}

	.select-acoes a{
		display: block;
		text-align: left;	
	}

	.select-acoes a:hover{
		color: #df9300 !important;		
	}

	

}

@media all and  (min-width:767px){
	/* Login */
	.form-login{
		width: 40%;
	}
	/* Fim Login */
}

@media all and  (max-width:992px){
	/*
	* Default Filtro
	*/
	.form-bloco-filtro select{
		width: 100%;
		float: none;
		margin: 5px;
	}

	.form-bloco-filtro input{
		float: none;
		margin: 5px;
	}

	.form-bloco-filtro label{
		float: none;
		margin-top: 5px;
	}
	/*
	* Fim Default Filtro
	*/
}


@media all and  (max-width:543px){
	/* topo */
	.navbar-fixed-top{
		position: fixed !important;
		padding-bottom: 50px !important;
		max-height: 100px;
		padding-left: 0px;
    	padding-right: 0px;
	}

	.nav-item{
		float: none !important;
		margin-left: 0px !important;
	}

	.navbar-nav{
		padding-top: 90px;
		padding-left: 25px;
    	padding-right: 25px;
    	background-color: #df9300;
	}

	.dropdown-menu{
		float: none !important;
		background: #ffe6b6;
		border: transparent !important;
		position: relative !important;
	}

	.nav-link{
		color: #000 !important;
	}

	.dropdown-item {
	    color: #000;
	}

	.topo-logo{
		position: fixed;
	}

	.top-espaco{
		/*padding-top: 100px;*/
		padding-top: 70px;
	}

	.bg-faded {
	    /*background-color: #ddd;*/
	}

	.encapsula-navbar{
		padding-top: 92px;
	}

	.collapse.in{
		display: block;
	    position: absolute;
	    width: 100%;
	    top: 100px;
	}

	.navbar-nav {
	    padding-top: 0px; 
	}
	/* Fim topo */

	.bloco-vizualizar{
		max-width: 100%;
		width: 100%;
	}

	.btn-acoes{
		display: block;
		margin-bottom: 3px;
		padding: 1px 7px;
	}

	.hello-user{
		padding: 0px;
		margin: 0px;
	}

	.bloco-encapsula-tam-lem{
		width: 100%;
		display: block;
		float: none;
	}

	.bloco-encapsula-tam-lem:nth-child(odd){
		margin-left: 0%;
		border-top: transparent;
	}


}

@media all and  (min-width:544px){
	.bg-faded {
	    background-color: #df9300;
	}
}

.titulo-pag{
	font-size: 20px;
	color: #000;
	text-align: center;
}